= haml :_head
%body.pure-skin-holiday
  .wrapper
    .header        
      %h1
        Welcome
    .content
      %h2
        = greeting
      .opening
        = section('opening')

      .cats
        = cat_antics

      .closing
        = section('closing')
